body {
	font-family:@tisa, sans-serif;
	background: @bg;
}

body, input {-webkit-font-smoothing: antialiased;}

h1 {
	font-family:@museo, sans-serif;
	
}
a {}
a:hover, a:focus {text-decoration: none;}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}