.buffon {
  * {outline: 0px solid transparent;}

  p {line-height: normal;}

  // Main
  background:@buffon-black;

  .wrap.container {padding:20px 10px 0;}
  header.banner, footer.content-info {display: none;}
  section {margin-bottom:100px;}

  svg.red {fill:#f0432f;}
  svg.yellow {fill:#ffe64b;}
  svg.blue {fill:#92dfc2;}
  svg.pink {fill:#e58aa3;}
  svg.white {fill:white;}

  // Variables
  @buffon-pink: #e58aa3;
  @buffon-yellow: #ffe64b;
  @buffon-blue: #92dfc2;
  @buffon-red: #f0432f;

  // Header
  a.theagsc_logo {
    position: fixed;
    fill:white;
    top:9px;
    left:10px;

    svg {position: relative;width:110px;height: auto; z-index: 99999;}
    &:hover svg {fill:@buffon-pink;color:@buffon-pink;}
  }

  // Typography
  p, h1 {
    color:white;
    font-family: Buffon-Regular;
  	-webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    -webkit-font-feature-settings: "kern";
  	font-feature-settings: "kern";
  	font-kerning: normal;
  }

  // Sections
  #buffonTitleWrapper {
    position: relative;
    height:240px;
    margin-bottom: 160px;
    // text-align: center;
    // background-color: grey;
    p.islaScript {
      font-family: IslaScriptBeta-Regular;
      font-size: 26pt;
      text-align: center;
      margin-bottom: 40px;
      -moz-font-feature-settings: "ss01";
      -webkit-font-feature-settings: "ss01";
      font-feature-settings: "ss01";
    }
    svg.buffonTitle {
      width:80%;
      display: block;
      margin: auto 0;
    }
    .svg {
      display:block;
      position: absolute;
    }
    svg#yellowDrop {
      width:75px;
      left:5%;
      top:-122px;
      @pink-rotate: 132deg;
      -ms-transform: rotate(@pink-rotate);
      -webkit-transform: rotate(@pink-rotate);
      transform: rotate(@pink-rotate);
    }
    svg#pinkDrop {
      width:65px;
      height: auto;
      right:10%;
      top:-94px;
      @pink-rotate: -132deg;
      -ms-transform: rotate(@pink-rotate);
      -webkit-transform: rotate(@pink-rotate);
      transform: rotate(@pink-rotate);
    }
    svg#redDrop {
      width:80px;
      height: auto;
      right:1%;
      bottom:-124px;
      @pink-rotate: -51deg;
      -ms-transform: rotate(@pink-rotate);
      -webkit-transform: rotate(@pink-rotate);
      transform: rotate(@pink-rotate);
    }
    svg#blueDrop {
      width:50px;
      height: auto;
      left:42%;
      bottom:-93px;
      @pink-rotate: 18deg;
      -ms-transform: rotate(@pink-rotate);
      -webkit-transform: rotate(@pink-rotate);
      transform: rotate(@pink-rotate);
    }
    svg#whiteDrop {
      width:74px;
      height: auto;
      left:1%;
      bottom:-115px;
      @pink-rotate: 58deg;
      -ms-transform: rotate(@pink-rotate);
      -webkit-transform: rotate(@pink-rotate);
      transform: rotate(@pink-rotate);
    }
    svg#blueBurst {
      position: absolute;
      width:70px;
      height: auto;
      right:-70px;
      top:0;
    }
    svg#pinkBurst {
      width:68px;
      height: auto;
      left:-95px;
      top:70px;
    }
  }
  // #blurb {
  //   text-align: center;
  //   p {
  //     font-size: 26pt;
  //     line-height:36pt;
  //     width:510px;
  //     strong {font-family: Buffon-Heavy;}
  //   }
  // }
  section#weights {
    text-align: center;
    svg {
      display: inline-block;
      width:35px;
      height: auto;
      margin: -2px auto 5px auto;

      @media @md {
        width:50px;
        margin: 5px auto 15px auto;
      }
    }
    p {
      display: inline-block;
      width:100%;
      text-align: center;
      font-size: 60pt;
    }
    .thin {font-family: Buffon-Thin;}
    .regular {font-family: Buffon-Regular;}
    .bold {font-family: Buffon-Bold;}
    .heavy {font-family: Buffon-Heavy;}
  }
  section#cloud {
    svg {width:100%;height:auto;}
  }
  section#buyNow {
    #buyText {
      float: left;
      margin-left: 100px;

      p {
        position: relative;
        font-size: 100pt;
        font-family: Buffon-Heavy;
        .char1 {
          font-family: Buffon-Regular;
          font-size: 45pt;
          vertical-align: baseline;
          position: relative;
          top: -0.9em;
          font-variant-numeric: oldstyle-nums;
        	-moz-font-feature-settings: "onum", "ss03";
        	-webkit-font-feature-settings: "onum", "ss03";
        	font-feature-settings: "onum", "ss03";
        }
      }
    }
    #lostType {
      margin-right: 100px;
      float: right;

      p {
        font-family: Buffon-Heavy;
        text-transform: uppercase;
        font-size: 120pt;
        line-height: 94pt;
        text-align: right;
      }
      #lt-lost {
        .char1 {.longshad-blue;}
        .char2 {.longshad-pink;}
        .char3 {.longshad-red;}
        .char4 {.longshad-yellow;}
      }
      #lt-type {
        .char1 {.longshad-red;}
        .char2 {.longshad-yellow;}
        .char3 {.longshad-blue;}
        .char4 {.longshad-pink;}
      }
    }
  }
}
