.buffon {
  * {outline: 0px solid transparent;}

  // Main
  background:@buffon-black;

  .wrap.container {padding:10px 10px 0; overflow: hidden; margin: 0;}
  header.banner, footer.content-info {display: none;}
  section {
    margin-bottom:50px;
    @media @sm {margin-bottom:100px;}
  }

  // Variables
  @buffon-pink: #e58aa3;
  @buffon-yellow: #ffe64b;
  @buffon-blue: #92dfc2;
  @buffon-red: #f0432f;

  .kern-liga {
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
  	font-kerning: normal;
  }

  .islaScript {
    font-family: IslaScriptBeta-Regular;
  }

  .ss01 {
    -moz-font-feature-settings: "ss01";
    -webkit-font-feature-settings: "ss01";
    font-feature-settings: "ss01";
  }
  .ss02 {
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
  }
  .ss03 {
    -moz-font-feature-settings: "ss03";
    -webkit-font-feature-settings: "ss03";
    font-feature-settings: "ss03";
  }
  .onum {
    -moz-font-feature-settings:"onum=1";
    -moz-font-feature-settings:"onum";
    -ms-font-feature-settings:"onum";
    -webkit-font-feature-settings:"onum";
    font-feature-settings:"onum";
  }
  .onumss01 {
    -moz-font-feature-settings:"ss01=1, onum=1";
    -moz-font-feature-settings:"ss01", "onum";
    -ms-font-feature-settings:"ss01", "onum";
    -webkit-font-feature-settings:"ss01", "onum";
    font-feature-settings:"ss01", "onum";
  }
  .onumss02 {
    -moz-font-feature-settings:"ss02=1, onum=1";
    -moz-font-feature-settings:"ss02", "onum";
    -ms-font-feature-settings:"ss02", "onum";
    -webkit-font-feature-settings:"ss02", "onum";
    font-feature-settings:"ss02", "onum";
  }
  .onumss03 {
    -moz-font-feature-settings:"ss03=1, onum=1";
    -moz-font-feature-settings:"ss03", "onum";
    -ms-font-feature-settings:"ss03", "onum";
    -webkit-font-feature-settings:"ss03", "onum";
    font-feature-settings:"ss03", "onum";
  }


  .red {fill:@buffon-red; color:@buffon-red}
  .yellow {fill:@buffon-yellow; color:@buffon-yellow}
  .blue {fill:@buffon-blue; color:@buffon-blue}
  .pink {fill:@buffon-pink; color:@buffon-pink}
  .white {fill:white;}

  .thin {font-family: Buffon-Thin;}
  .regular {font-family: Buffon-Regular;}
  .bold {font-family: Buffon-Bold;}
  .heavy {font-family: Buffon-Heavy;}

  // Header
  a.theagsc_logo {
    position: absolute;
    fill:white;
    top:-60px;
    z-index: 99999;

    svg {position:relative;width:110px; z-index: 99999;}
    &:hover svg {fill:@buffon-pink;color:@buffon-pink;}

    @media @sm {
      position: fixed;
      top:9px;
      left:10px;
    }
  }

  // Typography
    p {line-height: normal;}
    p, h1, h2, ul li {
    font-family: Buffon-Regular;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
  	font-kerning: normal;
    color:white;
  }
  p a {color:@buffon-pink; &:hover {color:@buffon-red}}
  h2 {
    .islaScript;
    font-size: 26pt;
    text-align: center;
    margin-bottom: 36px;

    @media @sm {
      font-size: 34pt;
      margin-bottom: 50px;
    }
  }

  // Sections
  #buffonTitleWrapper {
    position: relative;
    width:100%;
    max-width: 700px;
    margin: 60px auto 25px auto;
    // text-align: center;
    // background-color: grey;

    @media @sm {margin: 80px auto 50px auto;}

    h2 {
      font-size: 20pt;
      text-align: center;
      margin-bottom: -10px;

      @media @sm {
        font-size: 32pt;
        margin-bottom: -30px;
      }
    }
    div {
      svg#buffonTitle {
        width:100%;
        display: block;
      }
    }
  }
  #blurb {
    padding:0 5px;
    p {
      text-align: center;
      font-size: 22pt;
      line-height:30pt;
      strong {font-family: Buffon-Heavy;}
      @media @sm {
        font-size: 30pt;
        line-height:44pt;
        max-width:510px;
      }
    }
  }
  section#weights {
    p {
      display: inline-block;
      width:100%;
      text-align: center;
    }

    svg {
      display: block;
      width:35px;
      margin: -2px auto 10px auto;

      @media @sm {
        width:50px;
        margin: 5px auto 15px auto;
      }
    }

  }
  section#cloud {
    svg {width:100%;}
  }
  section#lostType {
    text-align: center;
    p#availNow {
      font-family: Buffon-Thin;
      font-size: 22pt;

      @media @sm {font-size: 30pt;}
    }
    a {
      p {
        font-size: 68pt;
        width:300px;
        display: inline-block;
        font-family: Buffon-Heavy;
        text-transform: uppercase;
        margin-bottom:-20px;

        @media @sm {
          font-size:94pt;
          width:335px;
          margin-bottom:-30px;
        }
      }
      #lt-lost {
        .char1 {.longshad-blue;}
        .char2 {.longshad-pink;}
        .char3 {.longshad-red;}
        .char4 {.longshad-yellow;}
      }
      #lt-type {
        .char1 {.longshad-red;}
        .char2 {.longshad-yellow;}
        .char3 {.longshad-blue;}
        .char4 {.longshad-pink;}
      }
      &:hover #lt-lost, &:hover #lt-type {
        .char1 {.longshad-pink;}
        .char2 {.longshad-pink;}
        .char3 {.longshad-pink;}
        .char4 {.longshad-pink;}
      }
    }
  }
  section#ligatures {
    p {text-align: center;}
    p span {color:white;}
    p span.nolig {
      -webkit-font-variant-ligatures: no-common-ligatures;
      font-variant-ligatures: no-common-ligatures;
    }
  }
  section#alternates {
    p {text-align: center;}
  }

  section#figures {
    p {text-align: center;}
  }
  section#menu {
    position: relative;
    width:80%;
    max-width: 700px;
    margin: 0 auto 60px auto;
    padding:80px 0;
    border:solid 1px white;
    text-align: center;

    &:before {
      content: " ";
      position: absolute;
      z-index: -1;
      top: 4px;
      left: 4px;
      right: 4px;
      bottom: 4px;
      border: solid 1px white;
    }
    #menuTitle {
      text-align: center;
      font-size: 50pt;
      .heavy;
      text-transform: uppercase;
    }
    #menuTitle span:nth-child(even) {
      vertical-align: baseline;
      position: relative;
      top: -0.08em;
    }
    h2 {
      position: relative;
      display: inline-block;
      font-size: 42pt;
      svg {
        position: absolute;
        bottom:-28px;
        width:100%;
        left: 0;
      }
    }
    ul {
      position: relative;
      width:500px;
      text-align: left;
      margin: 0 auto;
      li {
        display: block;
        font-size: 30pt;

        svg {width:40px;}
      }
    }
    svg.border {
      width:100px;
      position: absolute;
      fill:white;
      background-color: @buffon-black;
      padding:5px;
    }
    #topright {
      top:-30px;right:-30px;
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    #topleft {
      top:-30px;left:-30px;
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    #bottomright {
      bottom:-30px;right:-30px;
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    #bottomleft {
      bottom:-30px;left:-30px;
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
    #middleleft {
      width:70px;
      left:-30px;
      top:50%;
      margin-top: -40px;
    }
    #middleright {
      width:70px;
      right:-30px;
      top:50%;
      margin-top: -40px;
    }
  }
  section#creativeSouth {
    &:before {}
    p {
      width:80%;
      max-width: 700px;
      margin: 0 auto;
      font-size: 26pt;
    }
  }
  section#poster {
    position: relative;
    img {
      width:90%;
      height:auto;
      margin: 0 auto;
      display: block;
    }
  }
}
