footer {
	margin: 40px auto 100px auto;
	
	text-align: center;
	
	a.footer-brand {
		position: relative;
		display: block;
		background:url("@{images}/logo_small.png");
		background-size: 101px; 
		width:101px;
		height: 22px;
		text-indent: -9999px;
		padding: 0;
		margin: 0 auto;
		opacity: 0.4;
		left:-3px;
		
		&:hover {
			opacity: 1;
		}
	}
	
	.footer-email {
		display: inline-block;
		margin-top: 23px;
		color:darken(@light-grey, 5%);
		padding:0 1px 0 1px;
		font-size: 1.1em;
		font-family: @museo;
		
		&:hover {color:@black; border-bottom: solid 2px fade(@black, 90%); margin-bottom: -2px;}
	}
	
	
	ul {
		width:345px;
		margin: 0 auto;
		list-style: none;
		li {
			display: block;
			float: left;
			margin: 7px;
			.icon40;
			
			a {display: block;line-height: 14px;}

			a span {text-indent: -9999px; display: block;}
			
			a .svg {fill:@light-grey; .icon40;}
			
			a:hover .svg {fill:@black;}

		}
	}
	
	@media @sm {
		margin: 60px auto 130px auto;
	}
}