span.nav-hamburger svg {
	position:absolute;
	display: block;
	.icon32;
	fill: @black;
	right:10px;
	top:7px;
}
.navbar-default .container .navbar-header .navbar-toggle {
	border: 0;
	border-radius:0;
	margin: 0;
	padding: 5px;
	background-color: transparent !important;
	z-index: 998;
	top:1px;
	right: 2px;
		
	.icon-bar {background-color:white;}
	
	&:hover {
		background-color: transparent !important;
	}
}

header.navbar {
	position: fixed;
	left:0;
	right:0;
	top:0;
	z-index: 9999;	
	
	.container {
	
		.navbar-collapse {
			display: block;
			position: absolute;
			top:0;
			left:0;
			right:0;
			background: white;
			margin-left: 0;
			padding: 0;
			height: @header-height !important;
			border-bottom: solid 1px fade(@lightest-grey, 40%);
// 			box-shadow: 0px -1px 7px fade(black, 3%);
						
			.nav {
				margin: 0;
				
				.dropdown a {display: block;}
				
				li a {display: inline-block;}
			}
			
			ul {
				position: relative;
				list-style: none;
				float:right;
				height: @header-height;
								
				a {
					font-family: @museo;
					font-size: 1.1em;
					padding: 0 15px;
					height: @header-height;
					line-height: @header-height;
				}
			}
			
			span.nav-close {display: none;}
		}
	}
}