form { position:relative;}

input.agsc-field {
	display:block;
	/*height:55px;*/
	border:solid 1px #cccccb;
	font-size:1.05em;
	padding:14px;
	font-family:"brandon-grotesque" sans-serif;
	color:#333030;
	letter-spacing:0.03em;
	font-weight: 400;
}
input[type="email"] {
	position:relative;
	display:block;
	width:91%;
	padding:4.5%;
}
input[type="submit"] {
	position:absolute;
	top:17px;
	right:15px;
	color:#333030;
	font-family:"theagsc";
	background:none;
	font-size:0.9em;
	cursor:pointer;
}
input[type="submit"]:hover {
	color:#f72f19;
}
::-webkit-input-placeholder 		{color: rgba(0,0,0,0.3);}
:-moz-placeholder 				{color: rgba(0,0,0,0.3);}
::-moz-placeholder 				{color: rgba(0,0,0,0.3);}
:-ms-input-placeholder 			{color: rgba(0,0,0,0.3);}

input:focus::-webkit-input-placeholder 		{color: rgba(0,0,0,0.1);}
input:focus:-moz-placeholder 				{color: rgba(0,0,0,0.1);}
input:focus::-moz-placeholder 				{color: rgba(0,0,0,0.1);}
input:focus:-ms-input-placeholder 			{color: rgba(0,0,0,0.1);}

.mc-field-group { position:relative;}




















