.btn {
	position: relative;
	display: inline-block;
	text-align: center;
	padding:0 22px;
	height: 60px;
	color:white;
	font-family: @museo;
	font-size: 1.5em;
	.spacing;
	margin-top: 20px;
	.border;
	
	span {
		line-height: 60px;
	}
	
	svg {
		position: relative;
		fill:white;
		top:10px;
		margin-left: 10px;
	}
}
.btn-green {background: @green; &:hover {color:@dark-green;}}
.btn-grey {background: @lighter-grey; &:hover {color:@dark-grey;}}