// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;


// Brand colors
// -------------------------

@brand-primary:         #27ae60;
@bg:					#f7f7f7;
@green:					#4bcc50;
@black:					#1a1a1a;
@light-grey:			#a6a6a6;


// Brand colors
// -------------------------
@museo:					~"museo-sans";
@tisa:					~"ff-tisa-sans-web-pro";


// Media Queries
// -------------------------

@400:			~"only screen and (min-width : 400px)";
@600:			~"only screen and (min-width : 600px)";
@800:			~"only screen and (min-width : 800px)";
@1200:			~"only screen and (min-width : 1200px)";

				    /* Extra Small Devices, Phones */ 

// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";
